body {
   background-image: linear-gradient(to right, blue, purple, pink);
}
h4 {
  font-size: 90px;
  color: white;
  text-align: center;
  font-family: "Lucida Handwriting";
  text-shadow: 6px 6px blue;
}
h5 {
  font-size: 60px;
  color: white;
  text-align: center;
  font-family: "Helvetica Neue";
}
img{
  width: 300px;
  length:400px;
  height: 400px;
    border: dotted blue 4px;
}

nav {
  list-style-type: none;
  background-color: pink;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
 
}
li{
  display: inline;
  padding: 23px;
  float: right;
}
li:hover {
  background-color: white;
}

a {
  text-decoration: none;
  color: purple;
  letter-spacing: 5px;
}
